antlr4-python2-runtime==4.7.2
apsw==3.16.2.post1
asn1crypto==0.24.0
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
certifi==2019.11.28
chardet==3.0.4
CherryPy==8.9.1
colorama==0.4.3
cryptography==2.1.4
cssselect==1.0.3
cssutils==1.0.2
cycler==0.10.0
decorator==4.4.0
discord-webhook==0.7.1
dnspython==1.15.0
enum34==1.1.6
feedparser==5.2.1
html5-parser==0.4.4
html5lib==0.999999999
idna==2.9
ipaddress==1.0.17
ipython==5.5.0
ipython-genutils==0.2.0
iteration-utilities==0.8.0
keyring==10.6.0
keyrings.alt==3.0
lxml==4.2.1
Markdown==2.6.9
matplotlib==2.1.1
mechanize==0.2.5
msgpack==0.5.6
netifaces==0.10.4
networkx==2.2
numpy==1.13.3
olefile==0.45.1
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.1.0
Pivy==0.5.0
ply==3.11
prompt-toolkit==1.0.15
pycollada==0.4
pycrypto==2.6.1
pygame==1.9.6
Pygments==2.2.0
pygobject==3.26.1
pyOpenSSL==17.5.0
pyparsing==2.2.0
PySide==1.2.2
python-dateutil==2.6.1
pytz==2018.3
pyxdg==0.25
PyYAML==3.12
regex==2017.12.12
repoze.lru==0.7
requests==2.23.0
Routes==2.4.1
scandir==1.7
SecretStorage==2.3.1
simplegeneric==0.8.1
simplejson==3.13.2
six==1.11.0
subprocess32==3.2.7
traitlets==4.3.2
urllib3==1.25.8
uTidylib==0.3
vtk==8.1.2
wcwidth==0.1.7
webencodings==0.5
WebOb==1.7.3
